<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>



  <ion-content class="cards-bg">

    <ion-card>
      
        <ion-item>
            <ion-label color="primary" stacked>Game Session Code</ion-label>
            <ion-input type="number" placeholder="Game Session Code"></ion-input>
          </ion-item>
    
      <ion-card-content text-center>
        If you do not have a game code you can request one at ARealm.
      </ion-card-content>

      <button ion-button full>Enter Game</button>
    
    </ion-card>
    

</ion-content>
